/* You can add global styles to this file, and also import other style files */
.hover-cursor{
    cursor: pointer;
}
.subtitlu{
    text-align: center;
}
.fa-check-circle-o{
    color:green;
}
.jumbotron{
    background-color: lightgreen;
}