<div class="jumbotron" style="padding:45px 0px;">
    <h4 class="text-center">Chestii de facut</h4>
    <p class="subtitlu">link pentru Tutorial: <a href="https://www.youtube.com/watch?v=jNCzuSryJHE" target="_blank">https://www.youtube.com/watch?v=jNCzuSryJHE</a></p>
    <p class="subtitlu">Adaugat trigger pentru Enter si modificat CSS</p>
</div>
<div class="input-group">
    <input type="text" class="form-control" #itemTitle (keyup.enter)="onAdd(itemTitle)">
    <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
    </div>
</div>
<div style="margin:5px 0px;">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of toDoListArray">
            <span class="hover-cursor" [class.text.success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
                <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
            </span>
            {{item.title}}
            <span class="hover-cursor text-danger pull-right">
                <i class="fa fa-trash-o fa-lg" (click)="onDelete(item.$key)"></i>
            </span>
        </li>
    </ul>

</div>